#AccountSetting{
    .container{
       width: 800px;
    }
    
    @media screen and (max-width:567px) {
        .container{
            width: 350px;
         }
    }

    @media screen and (min-width:568px) {
        .container{
            width: 600px;
         }
    }
}