#Nickname{
    .container{
        width: 800px;
     }
     .closeIcon{
            right: 4px;
            top: 68%;
            transform: translateY(-50%);  
     }

    @media screen and (max-width:567px) {
        .container{
            width: 350px;
         }
    }

    @media screen and (min-width:568px) {
        .container{
            width: 600px;
         }
    }
}