#PasswordChange{
    .p-inputtext {
        height: 40px;
        width: 50rem;
    }
    .container{
        width: 800px;
     }

    @media screen and (max-width:576px) {
        .container{
            width: 350px;
         }
         .p-inputtext {
            height: 40px;
            width: 20rem;
        }
    }

    @media screen and (min-width:577px) and (max-width:800px) {
        .container{
            width: 600px;
         }
         .p-inputtext {
            height: 40px;
            width: 30rem;
        }
    }

}

