#PasswordChange{
    .p-inputtext {
        height: 40px;
        width: 50rem;
    }

    @media screen and (max-width:567px){
        .p-inputtext {
            height: 40px;
            width: 20rem;
        }
    }
}

