#Shipping-Address-Page {

    .p-dialog-contents {
        display: flex !important;
        flex-direction: column !important;
        gap: 20px !important;
        max-height: 100% !important;
    }

    .phone-input-container {
        /* margin-top: 2rem; */
        max-width: 38rem !important;
    }

    

    .text-sm,
    .placeholder-margin {
        width: 22rem !important;
    }

    .optional-container {
        margin-top: 0.25rem;
    }

    .contentShipping {
        height: 100vh !important;
    }

    #OptionalInput {
        .p-inputtext {
            width: 22rem !important;
        }
    }

   

    @media (min-width: 992px) {
        

        .text-sm,
        .placeholder-margin {
            width: 36rem !important;
        }

        #OptionalInput {
            .p-inputtext {
                width: 36rem !important;
            }
        }
    }

    @media (min-width: 1100px) {
        

        .text-sm,
        .placeholder-margin {
            width: 36rem !important;
        }

        #OptionalInput {
            .p-inputtext {
                width: 36rem !important;
            }
        }
    }
}