#user-profile {
    position: fixed;
    top: 76px;
    z-index: 1;
    height: auto;
    
    .p-sidebar-header{
        display: none;
    }
}

@media (min-width: 992px) {

    #user-profile {
        top: 92px;
    }
}