#toggleInput{
    
    span.p-dropdown-label.p-inputtext {
        padding: 8px 0 1px 4px;
        margin: auto 0;
        // width: 6rem;
    }
    
    .p-dropdown, .p-dropdown-trigger {
        width: 20px;
    }
    
    .p-inputtext:enabled:focus {
        padding-right: 30px;
    }
    
    
    .p-icon {
        width: 0.7rem;
        height: 0.7rem;
    }

    .clear-icon {
        position: absolute;
        cursor: pointer;
        right: 0.5rem; 
        // padding-left: 15px;
        top: 1.3rem;
        transform: translateY(-50%);
        background: none;
        border: none;
        color: gray;
        z-index: 1;
        width: 16px;
    }
}

input#emailOrPhone::placeholder {
    font-size: 12px;
    // padding-left: 30px;
}