.p-tieredmenu-root-list {
  height: 100vh !important;
  overflow-y: scroll;
  position: sticky;
  top: 88px;
}

.p-tieredmenu-root-list::-webkit-scrollbar {
  width: 5px;
}
.p-submenu-list{
  padding-top:0;
}
.p-menuitem {
  border-bottom: 1px solid #c4c4c4;
}

@media (min-width: 992px) {
  .p-tieredmenu .p-menuitem-active>[id^="pr_id_1_list_"]:not([id^="pr_id_1_list_0_"]) {
    position: fixed;
    top: 88px !important;
    min-width: 25%;
    left: 25% !important;
    display: block !important;
    width: auto;
    height: 100vh;
    z-index: 1;
  }
  .p-tieredmenu .p-menuitem-active.level-2>[id^="pr_id_1_list_"]:not([id^="pr_id_1_list_0_"]){
    left: 25% !important;
  }

  .p-tieredmenu .p-menuitem-active>[id^="pr_id_1_list_0_"] {
    position: fixed;
    top: 88px !important;
    min-width: 25%;
    left: 50% !important;
    display: block !important;
    width: auto;
    height: 100vh;
    z-index: 1;
  }
}


@media (min-width: 1200px) {
  .p-tieredmenu .p-menuitem-active>[id^="pr_id_1_list_"]:not([id^="pr_id_1_list_0_"]) {
    left: 23% !important;
  }

  .p-tieredmenu .p-menuitem-active.level-2>[id^="pr_id_1_list_"]:not([id^="pr_id_1_list_0_"]){
    left: 23% !important;
  }

  .p-tieredmenu .p-menuitem-active>[id^="pr_id_1_list_0_"] {
    left: 47.5% !important;
  }

}

@media (min-width: 1400px) {
  .p-tieredmenu .p-menuitem-active>[id^="pr_id_1_list_"]:not([id^="pr_id_1_list_0_"]) {
    left: 17.5% !important;
    min-width: 18%;
  }
  .p-tieredmenu .p-menuitem-active.level-2>[id^="pr_id_1_list_"]:not([id^="pr_id_1_list_0_"]){
    left: 35.5% !important;
  }
  .p-tieredmenu .p-menuitem-active>[id^="pr_id_1_list_0_"] {
    left: 35.5% !important;
    min-width: 18%;
  }
 
  .menu-container{
    width: 22% !important;
  }

}


