#add-more-item {
    .p-inputnumber{
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .p-inputnumber-buttons-horizontal .p-inputnumber-input{
        width: 30px;
        height: 0;
        padding: 14px 5px 12px 5px;
        text-align: center;
        background-color: #F5F5F5;
        border: 1px solid #D9D9D9;
        border-radius: 5px;
    }
    input.p-inputnumber-input.p-inputtext.p-component.p-filled {
        width: 30px;
        height: 0;
        padding: 14px 5px 12px 5px;
        text-align: center;
        background-color: #F5F5F5;
        border: 1px solid #D9D9D9;
        border-radius: 5px;
    }
    .p-inputtext:enabled:focus{
        box-shadow: none;
    }

    .p-inputnumber-buttons-horizontal .p-button.p-inputnumber-button-down {
        height: 0;
        width: 0;
        padding: 15px;
        border-radius: 50px;
        background-color: #8FC158;
        border: none;
    }
    .p-inputnumber-buttons-horizontal .p-button.p-inputnumber-button-up{
        height: 0;
        width: 0;
        padding: 15px;
        border-radius: 50px;
        background-color: #8FC158;
        border: none;
    }
}