
    .p-dialog-header {
        text-align: center;
        padding-top: 2.5rem;
        padding-bottom: 10px;
    }
    
    .p-dialog-header-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        outline: none;
        border: none;
    }
    
    .p-dialog .p-dialog-header .p-dialog-title {
        font-weight: 350;
        font-size: 24px;
        color: rgba(25, 25, 27, 1);
        letter-spacing: 0.5px
    }
    
    .password-wrapper {
        position: relative;
        width: 100%;
    }
    
    .password-input {
        padding-right: 30px; 
    }
    
    .eye-icon {
        position: absolute;
        cursor: pointer;
        right: 0.5rem; 
        padding-left: 15px;
        top: 1.5rem;
        transform: translateY(-50%);
        background: none;
        border: none;
        color: gray;
    }
    
    .eye-icon:focus {
        outline: none;
        box-shadow: 0 0 0 0;
    }
    
    /* .inputfield .p-inputtext{
        border: none !important;
    } */
    
    .p-inputtext:enabled:focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: 0 0 0 0 !important;
        border-color:none !important;
    }
    .p-inputtext:enabled:hover {
        border-color: none !important;
    }
    
    .pi-icon{
        position:absolute;
    }

    div#loginCheckbox {
        padding-top: 2px !important;
    }
    
