.password-wrapper {
    position: relative;
    width: 100%;
}

.password-input {
    padding-right: 30px; 
}

.eye-icon {
    position: absolute;
    cursor: pointer;
    right: 0.5rem; 
    padding-left: 15px;
    top: 1.3rem;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: gray;
}

.eye-icon:focus {
    outline: none;
    box-shadow: 0 0 0 0;
}

#login {
    input.w-full.text-xs.p-inputtext.p-component::placeholder {
        color: rgba(123, 123, 123, 1);
        padding-left: 30px;
    }
    i.pi.pi-user.pl-1 , i.pi.pi-lock.pl-1{
        margin-left: 10px;
        width: 20px;
        height: 18px;
    }
}