.password-wrapper {
    position: relative;
    width: 100%;
}

.password-input {
    padding-right: 30px; 
}

.eye-icon {
    position: absolute;
    cursor: pointer;
    right: 0.5rem; 
    padding-left: 15px;
    top: 1.3rem;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: gray;
}

.eye-icon:focus {
    outline: none;
    box-shadow: 0 0 0 0;
}