/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

#root,
body,
html {
  padding: 0;
  margin: 0;
}

.p-sidebar .p-sidebar-header {
  margin: 10px 20px;
  padding: 0 15px;
  border-bottom: 1px solid #c4c4c4;
}

.carousel-item img {
  height: auto;
  width: 100%;
}

.search-container {
  .p-inputtext:enabled:focus {
    box-shadow: none;
  }

  .p-button:focus {
    box-shadow: none;
  }
}



/* product list styling */

.product-container {

  .p-datascroller .p-datascroller-content {
    background: transparent;
    padding: 0;
  }

  .p-card .p-card-body {
    padding: 15px 10px 10px 10px;
  }

  .p-card-content {
    padding: 0;
  }

  span.p-button-label.p-c {
    border-bottom: 1px solid;
  }

  .p-button:focus {
    box-shadow: none;
  }

  ul.p-datascroller-list{
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
  }


}