#Signup-page{
    
    .p-dialog-header {
        text-align: center;
        font-size: 24px;
        font-weight: 400;
        color: #000000;
        padding-top: 2.5rem;
        padding-bottom: 10px;
    }
    
    .p-dialog-header-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        outline: none;
        border: none;
    }
    
    .p-dialog .p-dialog-header .p-dialog-title {
        font-weight: 350;
    }
}