#Tab_Menu{
    
    .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
        border: none !important;
        border-width: 0 0 2px 0;
        border-color: transparent transparent #e5e7eb transparent;
        background: none !important;
        color: #6b7280;
        padding: 1.25rem;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        transition: box-shadow 0.2s;
        margin: 0 0 -2px 0;
        height: calc(100% + 2px);
    }

    .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
        background: none;
        border-color: none;
        color: #00CB56;
    }

    .p-tabmenu .p-tabmenu-nav {
        display: flex;
        gap:75px;
        background: none ;
        border: none;
        border-width: 0 0 0px 0;
    }
    /* .p-tabmenu .p-tabmenu-nav .p-tabmenuitem span {
        border-right: 2px solid red;
    } */

    @media (max-width:576px) {
        .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link{
            padding:0.75rem;
            font-size: 13px;
        }
        .p-tabmenu .p-tabmenu-nav {
            gap:2px
        }
    }
}