#ProductDetail-Page{
    .detail_product{
        margin-left:15px ;
    }

    .p-paginator {
        background: none !important;
        color: #6b7280;
        border: solid #f3f4f6;
        border-width: 0;
        padding: 0.5rem 1rem;
        border-radius: 6px;
    }
    
    .p-paginator .p-paginator-pages .p-paginator-page {
      background-color: transparent;
      border: 0 none;
      color: #00CB56;
      min-width: 4rem;
      height: 3rem;
      transition: box-shadow 0.2s;
      border-radius: 20px;
  }
     
    .cell {
        width: 400px !important;
        height: 200px !important; 
      }

    @media  only screen and (max-width:576px) {
        .detail_product{
            margin-left:4px ;
        }
        .p-galleria-item > img {
            height: 18rem;
        }
        .p-paginator {
            padding: 0.5rem 0rem;
           }
           .p-paginator .p-paginator-pages .p-paginator-page {
            min-width: 2rem;
        }
    }
    @media  only screen and (min-width:500px) and (max-width:1024px) {
       
        .p-galleria-item > img {
            height: 30rem;
        }
       
    }
    @media  only screen and (max-width:600px)  {
        .cell {
            width: 200px !important;
            height: 50px !important; 
          }
    }
    @media  only screen and (min-width:601px){
        .cell {
            width: 200px !important;
            height: 100px !important; 
          }
    }
    @media  only screen and (min-width:1024px){
        .cell {
            width: 400px !important;
            height: 200px !important; 
          }
    }
}

#ReportPageDialog{

    .p-dialog, .p-dialog-header, .p-dialog-title {
        font-weight: 700;
        font-size: 1.25rem;
        text-align: center !important;
    }
}